.container {
  margin: 5vh;
  font-size: 18px;
  color: black;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;

    .logo img {
      height: 55px;
      width: 200px;
      margin-left: 30px;
    }

    .heading {
      margin-right: 10vh;
    }
  }

  .meta {
    display: flex;
    margin: 3vh;
  }

  .main-data {
    margin: 3vh;
  }

  .table {
    margin: 3vh;
  }

  .final {
    margin: 3vh;
  }
}
