.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #daeafa;
  padding: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-stretch {
  justify-content: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.main-sign-in {
  min-height: 50vh;
  min-width: 50vw;
  box-shadow: 1px 1px 2px 2px #e4e5e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #20a8d8;
  border-color: #20a8d8;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.sign-in-form {
  padding: 20px 40px;
}

.sign-heading-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-in-left-container {
  min-width: 25vw;
  min-height: 50vh;
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}

.sign-in-right-container {
  min-height: 50vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-sign-up-shipper {
  min-height: 50vh;
  min-width: 35vw;
  box-shadow: 1px 1px 2px 2px #e4e5e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-color: #20a8d8;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  background-color: #ffffff;
}

.sign-up-form-container {
  min-height: 50vh;
  min-width: 35vw;
  display: flex;
  flex-direction: column;
}

.container-vendor {
  /*min-height: 100vh;*/
  min-width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-color: #e4e5e6;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin: 40px;
}

.vendor-form-container {
  padding: 10px 20px 10px 20px;
}

.heading-vendor {
  padding: 10px 20px 10px 20px;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: flex-start;
}

.bg-dark {
  background-color: #eee;
}

.content-style {
  padding: 24px;
  margin: 0;
}

.chart-container {
  border-radius: 5px;
  width: 100%;
  height: 150px;
  position: relative;
}
.chart-position{
  position: absolute;
  bottom:0;
  flex-direction: column;
  justify-content: flex-end;

}
.chart-content {
  position: absolute;
  top:0;
  left: 0;
  padding-top: 15px;
  padding-left: 15px;
  z-index: 1000;
}

.bg-chart1 {
  box-shadow: 2px 2px 10px #CBC8CC;
  background-color:#63c2de;
}
.bg-chart2 {
  background-color:#001529;
  box-shadow: 2px 2px 10px #CBC8CC;
}
.bg-chart3 {
  background-color: #ffc23d;
  box-shadow: 2px 2px 10px #CBC8CC;
}

.bg-chart4 {
  background-color: #f86c6b;
  box-shadow: 2px 2px 10px #cbc8cc;
}

.mx-2{
  margin-left: 10px;
  margin-right:10px;
}

.my-1{
  margin-top: 5px;
  margin-bottom:5px;
}
.icon-bg:hover{
  color:#20a8d8;
  cursor:pointer;
}
.barcode-tag-container{
  border: #acacaa solid 1px;
  padding:5px;
  border-radius: 5px;
  margin-right: 20px;
}
.print-cp-logo img {
  height: 55px;
  width: 200px;
  /*margin-left: 30px;*/
  margin-top: 2vh;
}
.print-cp-gray{
  background-color: #D1D5DB
;
}
.print-cp-border{
  border-width: 2px;
  border-color:#000;
  border-style: solid;
}
.print-cp-container{
  /*padding:4rem;*/
  padding: 2vh 10vw;
}

.print-cp-divider{
  /*background-color: #0b2e13;*/
  width:2px;
  background-color: black;
  min-height: 100%;
}

.px-2{
  padding-right:10px;
  padding-left: 10px;
}
.py-2{
  padding-bottom: 10px;
  padding-top:10px;
}

.px-1{
  padding-right: 5px;
  padding-left: 5px;
}
.py-1{
  padding-bottom: 5px;
  padding-top:5px;
}
