#mastertable {

    thead th{
        font-weight: 700 !important;
    }

    td, th, button {
       
        font-size: 12px !important;
        font-family: 'Roboto', sans-serif !important;
    }

    font-size: 12px !important;
    font-family: 'Roboto', sans-serif !important;
}