<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      @page {
        size: A4;
        margin: 1.41cm 0.194cm;
      }
      @media print {
        html,
        body {
          width: 21cm;
          height: 29.7cm;

          /* margin: 30mm 45mm 30mm 45mm;  */
          /* change the margins as you want them to be. */
        }
      }

      .grid-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
      }

      .grid-row {
        display: flex;
      }

      .grid-col {
        /* padding: 0 5px; */
        margin: 0 0.1cm;
        height: 3.84cm;
        width: 9.906cm;
        border: 1px solid black;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-1.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-2.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-3.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-4.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-5.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-6.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-7.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-8.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-9.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-10.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-11.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-12.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-13.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-14.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-1.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-2.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-3.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-4.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-5.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-6.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-7.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-8.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-9.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-10.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-11.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-12.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-13.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-14.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-1.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-2.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-3.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-4.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-5.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-6.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-7.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-8.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-9.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-10.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-11.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-12.png" alt="" srcset="" /></div>
        </div>
      </div>
      <div class="grid-row">
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-13.png" alt="" srcset="" /></div>
        </div>
        <div class="grid-col">
          <div class="sticker-container"><img src="./images/code-14.png" alt="" srcset="" /></div>
        </div>
      </div>
    </div>
  </body>
</html>
